* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  /*font-size 10px por defecto*/
  scroll-behavior: smooth; }

body {
  font-family: 'Nunito', sans-serif;
  font-size: 1.8rem;
  letter-spacing: 0.0425em;
  /*color: rgba(3, 26, 39, 0.877)*/
  background-image: url("../media/fondo-web.png");
  background-repeat: repeat;
  background-size: contain; }

h1 {
  font-weight: 600; }

h2 {
  font-weight: 600; }

h3 {
  font-weight: 600; }

h4 {
  font-weight: 600; }

h5 {
  font-weight: 600; }

h6 {
  font-weight: 600; }

.titulo__h {
  border-bottom: 3px solid #17ad86; }
  .titulo__h span {
    background: #17ad86;
    color: #FBFBFB;
    padding: 0px 10px 0 10px; }

a {
  cursor: pointer; }
  a a:hover,
  a a:focus,
  a a:active {
    text-decoration: none;
    color: inherit; }

.btn {
  text-decoration: none;
  font-size: 2.1rem;
  font-weight: 600; }

.btn--nav {
  /*background: $btn;*/
  background: #17ad86;
  color: #FBFBFB;
  padding: .2em .5em;
  border-radius: .2em; }

.btn--container {
  margin-top: 1em; }

.btn__articulo {
  background: #17ad86;
  color: #FBFBFB; }
  .btn__articulo--variante {
    background: #FBFBFB;
    border: 1px solid #17ad86;
    color: #17ad86; }

.header__button:hover,
.btn--nav:hover {
  background: #31d6ab;
  color: #FBFBFB;
  /*background-image: linear-gradient(315deg, #772f1a 0%, #f2a65a 74%);*/
  transition: 0.3s;
  border: #c1bfbf solid 2px; }

.btn--border {
  border: #c1bfbf solid 2px; }

div.titulos {
  grid-area: titulo;
  margin-top: 0.35em;
  text-align: center;
  /*border: $primary solid;*/
  background: #c1bfbf;
  background-image: linear-gradient(315deg, #c1bfbf 0%, #af8231 74%); }

.texto {
  padding: 2em;
  font-weight: 600; }
  .texto p {
    padding: 1em 1em 1em 0;
    text-align: justify; }

.link {
  grid-area: link;
  text-align: center; }

.shrink {
  transition: transform .3s; }
  .shrink :hover {
    transform: scale(0.9); }

.carousel-inner img {
  margin: auto; }

.borderUno {
  border: 2px solid red; }

/* CABECERA */
header {
  grid-area: header; }

.header {
  display: grid;
  grid-template-areas: "fixedContainer" "banner";
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 80%, #000000 100%); }

.header__logo--scroll.scrolled {
  color: #000000;
  font-weight: 800; }

.header__nav--scroll.scrolled {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 500; }

.header__nav--scroll.scrolled:hover {
  color: black; }

.header__logo {
  grid-area: logo;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.6em; }
  .header__logo a {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2em;
    font-weight: 700;
    margin-right: 10em; }

nav {
  grid-area: nav; }

.header__nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color: #c02b2b;*/ }
  .header__nav ul li {
    margin-right: 0.6em; }
    .header__nav ul li a {
      color: rgba(255, 255, 255, 0.5); }
      .header__nav ul li a :hover {
        color: rgba(255, 255, 255, 0.8);
        outline: none;
        background-color: transparent; }

.header__banner {
  grid-area: banner;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 80%, #000000 100%), url("../media/banner_logo.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /*me cubre todo el contenedor*/
  /*top: 73px;*/ }
  .header__banner h1 {
    font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 6em;
    line-height: 1em;
    letter-spacing: 0.8rem;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text; }
  .header__banner h2 {
    max-width: 30em;
    font-size: 1.5em; }
  .header__banner img {
    display: block;
    margin-left: auto;
    margin-right: auto; }

.container__background {
  background-image: url("../media/fondo-web.png"); }

.container__background--white {
  background: #FBFBFB; }

.container__padding {
  padding-top: 107px; }

.fixedContainer {
  display: grid;
  grid-template-areas: "logo burger" "nav nav";
  grid-template-columns: 1fr 1fr;
  background: transparent;
  border-bottom: 1px rgba(129, 124, 124, 0.2) inset;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
  transition: 500ms ease; }

.fixedContainer.scrolled {
  background: #FBFBFB; }

.flip {
  background-color: transparent;
  width: 230px;
  height: 325px;
  perspective: 1000px; }

.flip__box {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d; }

.flip:hover .flip__box {
  transform: rotateY(180deg); }

.flip__box--front,
.flip__box--back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 9px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.flip__box--back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 100%, #000000 100%);
  color: #FBFBFB;
  transform: rotateY(180deg);
  padding: 1rem 1rem 1rem 1rem; }

/* pagina Serivicios*/
.container--padding {
  padding-top: 107px; }

.container--shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }

.container--shadow:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }

/*  TRABAJOS   */
section#trabajos {
  grid-area: trabajos;
  padding-top: 140px; }

object {
  width: 1050px;
  height: 600px; }
  object iframe {
    width: 100%;
    height: 100%; }

/*ARTICULOS*/
.card {
  height: 550px;
  max-width: 390px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }

.card__image {
  border-radius: 9px 9px 0 0; }

.card__text {
  padding: 2em; }

.container__row--height {
  height: 480px;
  background: red; }

.row__col--height {
  max-height: 300px;
  background: #20be6d; }

footer {
  background-color: #000000;
  grid-area: footer; }

.button__whatsapp {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 7vh;
  right: 20px;
  z-index: 1;
  line-height: 55px;
  transition: 0.3s; }

.button__whatsapp:hover {
  transform: scale(0.9); }

.button__whatsapp--mt {
  margin-top: 16px; }

.footer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; }

.footer__logo a img:hover {
  transform: scale(0.9);
  transition: 0.3s; }

.footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center; }
  .footer__copyright p {
    color: #FBFBFB; }

.footer__media {
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .footer__media i {
    background: #FBFBFB; }
  .footer__media a:hover {
    transform: scale(0.9);
    transition: 0.3s; }

/* MOBILE */
@media only screen and (max-width: 1300px) {
  html {
    font-size: 55%; }
  .header__logo img {
    display: none; }
  .fixedContainer {
    grid-template-columns: 4fr 1fr;
    background: #000000;
    display: flex; }
  .header__banner {
    width: auto;
    height: 50vh;
    top: 0; }
  .header__banner h1 {
    font-size: 2em; }
  .header__banner h2 {
    font-size: 1em; }
  #queHacemos .img img {
    width: 50vh; }
  .card {
    height: 100%;
    max-width: 390px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
  object {
    width: 100%;
    height: 300px; }
    object iframe {
      width: 100%;
      height: 100%; }
  .button__whatsapp {
    width: 50px;
    height: 50px;
    bottom: 10px;
    right: 10px;
    line-height: 47px; }
  .button__whatsapp img {
    height: 30px; }
  .footer__copyright {
    display: none; }
  #contactos iframe {
    width: 450px;
    height: 340px; } }

.articulo--fondo {
  background-image: none;
  background-color: #FBFBFB; }

.articulo__next {
  display: flex;
  align-items: center;
  flex-wrap: nowrap; }
  .articulo__next a {
    color: #000000; }
  .articulo__next a:hover,
  .articulo__next a:focus,
  .articulo__next a:active {
    text-decoration: none;
    color: inherit;
    font-weight: 700; }

.articulo__next--izq {
  justify-content: flex-start; }

.articulo__next--derecha {
  justify-content: flex-end; }
