.footer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;

}

.footer__copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        color: $white;
    }
}

.footer__media{
    display: flex;
    justify-content: space-around;
    align-items: center;
    i{
        background: $white;
    }
}
